# Dirs With Binaries #
/plugins/*/bin/
/plugins/*/libs/
/plugins/*/target/
/plugins/*/xtend-gen/
/plugins/*/src-gen/
/plugins/*/classes/
/tests/*/bin/
/tests/*/lib/
/tests/*/target/
/tests/*/xtend-gen/
/tests/*/src-gen/
/tests/*/classes/
/examples/*/bin/
/examples/*/lib/
/examples/*/target/
/examples/*/xtend-gen/
/examples/*/src-gen/
/examples/*/classes/
/releng/*/bin/
/releng/*/lib/
/releng/*/target/
/releng/*/xtend-gen/
/releng/*/src-gen/
/releng/*/classes/
/features/*/bin/
/features/*/lib/
/features/*/target/
/features/*/xtend-gen/
/features/*/src-gen/
/features/*/classes/
temp

# Binary Files #
*.class
*.dll
*.lib
*.exe
*.obj

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar
*.7z
*.tar

# Temporary Files #
*.bak

# Data Files #
*.dat
*.idn

# Agent Platform #
APDescription.txt
MTPs-Main-Container.txt
