<div class="ui basic segment">
	<img class="ui centered tiny circular image" src="images/maya-calendar.jpg"></img>
</div>
<div class="ui accordion inverted" ng-repeat="category in menu">
	<div class="active title">
		<div class="ui horizontal inverted fitted divider">
			<i class="{{category.icon}} icon"></i>
			{{category.name}}
		</div>
	</div>
	<div class="active content menu">
		<a class="item" ng-repeat="item in category.items" href="{{item.href}}">{{item.label}}</a>
	</div>
</div>