<svg width="1100" height="600">
	<defs>
		<marker id="arrow" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="6" markerHeight="4" orient="auto" style="fill: rgb(32, 32, 32);">
			<path d="M0,-5L10,0L0,5"></path>
		</marker>
	</defs>
	<g class="node" transform="translate(100, 10)">
		<rect width="900" height="580"></rect>
		<text x="450" y="15">{{behaviour.label}}</text>
		<path class="workflow link" d="M0,40C100,40 100,215 200,215" marker-end="url(#arrow)"></path>
		<path class="workflow link" d="M350,215C425,215 425,115 500,115" marker-end="url(#arrow)"></path>
		<path class="workflow link exception" d="M350,240C475,240 475,315 600,315" marker-end="url(#arrow)"></path>
		<path class="workflow link" d="M650,115C775,115 775,40 900,40" marker-end="url(#arrow)"></path>
		<path class="workflow link" d="M750,315C825,315 825,80 900,80" marker-end="url(#arrow)"></path>
		<path class="dataflow link" d="M0,110C100,110 100,275 200,275" style="stroke: rgb(31, 173, 142);"></path>
		<path class="dataflow link" d="M0,140C100,140 100,305 200,305" style="stroke: rgb(31, 173, 97);"></path>
		<path class="dataflow link" d="M0,125C100,125 100,290 200,290" style="stroke: rgb(173, 97, 31);"></path>
		<path class="dataflow link" d="M0,155C100,155 100,320 200,320" style="stroke: rgb(173, 119, 31);"></path>
		<path class="dataflow link" d="M350,260C425,260 425,160 500,160" style="stroke: rgb(173, 31, 150);"></path>
		<path class="dataflow link" d="M650,145C775,145 775,105 900,105" style="stroke: rgb(119, 31, 173);"></path>
		<path class="dataflow link" d="M750,345C825,345 825,105 900,105" style="stroke: rgb(119, 31, 173);"></path>
		<line 
			x1="0"
			y1="0"
			x2="122"
			y2="122" 
			ng-repeat="dataflow in behaviour.dataflow">
		</line>
		<circle class="start" transform="translate(0, 40)"></circle>
		<circle class="finish" transform="translate(900, 40)"></circle>
		<g class="exception" transform="translate(900, {{15* $index + 80}})" ng-repeat="exception in behaviour.exceptions">
			<circle></circle>
			<text x="10">{{exception.label}}</text>
		</g>
		<g class="output" transform="translate(900, {{15* $index + 105}})" ng-repeat="output in behaviour.outputs">
			<circle style="fill: {{getTypeColor(output.type)}};"></circle>
			<text x="10">{{output.label}}</text>
		</g>
		<g class="input" transform="translate(0, {{15* $index + 80}})" ng-repeat="input in behaviour.inputs">
			<circle style="fill: {{getTypeColor(input.type)}};"></circle>
			<text x="-10">{{input.label}}</text>
		</g>
		<g class="ready state" my-draggable transform="translate({{child.x}}, {{child.y}})" ng-repeat="child in behaviour.childs">
			<rect width="{{state_width}}" height="{{childHeight(child.uuid)}}"></rect>
			<text x="75" y="15">{{state.label}}</text>
			<line x1="0" y1="30" x2="{{state_width}}" y2="30"></line>
			<line x1="0" y1="50" x2="{{state_width}}" y2="50"></line>
			<circle class="start" transform="translate(0, 15)"></circle>
			<circle class="finish" transform="translate({{state_width}}, 15)"></circle>
			<g class="exception" transform="translate({{state_width}}, {{$index*15 + 40}})" ng-repeat="exception in state.exceptions">
				<circle></circle>
				<text x="-10">{{exception.label}}</text>
			</g>
			<g class="output" transform="translate({{state_width}}, {{15* $index + 60}})" ng-repeat="output in child.outputs">
				<circle style="fill: {{getTypeColor(output.type)}};"></circle>
				<text x="-10">{{output.label}}</text>
			</g>
			<g class="input" transform="translate(0, {{15* $index + 75}})" ng-repeat="input in child.inputs">
				<circle style="fill: {{getTypeColor(input.type)}};"></circle>
				<text x="10">{{input.label}}</text>
			</g>
		</g>
	</g>
</svg>
<a ng-click="test()">123456789</a>