<svg width="1100" height="600">
	<defs>
		<marker id="arrow" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="6" markerHeight="4" orient="auto" style="fill: rgb(32, 32, 32);">
			<path d="M0,-5L10,0L0,5"></path>
		</marker>
	</defs>
	<g class="node" transform="translate(100, 10)">
		<rect width="900" height="580"></rect>
		<text x="450" y="15">ZipatoAuthenticateProtocol</text>
		<path class="workflow link" d="M0,40C100,40 100,215 200,215" marker-end="url(#arrow)"></path>
		<path class="workflow link" d="M350,215C425,215 425,115 500,115" marker-end="url(#arrow)"></path>
		<path class="workflow link exception" d="M350,240C475,240 475,315 600,315" marker-end="url(#arrow)"></path>
		<path class="workflow link" d="M650,115C775,115 775,40 900,40" marker-end="url(#arrow)"></path>
		<path class="workflow link" d="M750,315C825,315 825,80 900,80" marker-end="url(#arrow)"></path>
		<path class="dataflow link" d="M0,110C100,110 100,275 200,275" style="stroke: rgb(31, 173, 142);"></path>
		<path class="dataflow link" d="M0,140C100,140 100,305 200,305" style="stroke: rgb(31, 173, 97);"></path>
		<path class="dataflow link" d="M0,125C100,125 100,290 200,290" style="stroke: rgb(173, 97, 31);"></path>
		<path class="dataflow link" d="M0,155C100,155 100,320 200,320" style="stroke: rgb(173, 119, 31);"></path>
		<path class="dataflow link" d="M350,260C425,260 425,160 500,160" style="stroke: rgb(173, 31, 150);"></path>
		<path class="dataflow link" d="M650,145C775,145 775,105 900,105" style="stroke: rgb(119, 31, 173);"></path>
		<path class="dataflow link" d="M750,345C825,345 825,105 900,105" style="stroke: rgb(119, 31, 173);"></path>
		<g class="execution start" transform="translate(0, 40)">
			<circle class="start"></circle>
		</g>
		<g class="execution finish" transform="translate(900, 40)">
			<circle class="finish outer"></circle>
			<circle class="finish inner"></circle>
		</g>
		<g class="execution exceptions" transform="translate(900, 80)">
			<g class="exception" transform="translate(0, 0)">
				<circle></circle>
				<text x="10">NullPointerException</text>
			</g>
		</g>
		<g class="data outputs" transform="translate(900, 105)">
			<g class="output parameter" transform="translate(0, 0)">
				<circle style="fill: rgb(119, 31, 173);"></circle>
				<text x="10">success</text>
			</g>
		</g>
		<g class="data inputs" transform="translate(0, 80)">
			<g class="input parameter" transform="translate(0, 0)">
				<circle style="fill: rgb(173, 45, 31);"></circle>
				<text x="-10">login</text>
			</g>
			<g class="input parameter" transform="translate(0, 15)">
				<circle style="fill: rgb(173, 45, 31);"></circle>
				<text x="-10">password</text>
			</g>
			<g class="input parameter" transform="translate(0, 30)">
				<circle style="fill: rgb(31, 173, 142);"></circle>
				<text x="-10">eventLoop</text>
			</g>
			<g class="input parameter" transform="translate(0, 45)">
				<circle style="fill: rgb(173, 97, 31);"></circle>
				<text x="-10">channel</text>
			</g>
			<g class="input parameter" transform="translate(0, 60)">
				<circle style="fill: rgb(31, 173, 97);"></circle>
				<text x="-10">options</text>
			</g>
			<g class="input parameter" transform="translate(0, 75)">
				<circle style="fill: rgb(173, 119, 31);"></circle>
				<text x="-10">handler</text>
			</g>
		</g>
		<g class="ready state" transform="translate(200,200)">
			<rect width="150" height="130"></rect>
			<text x="75" y="15">Create Bootstrap</text>
			<line x1="0" y1="30" x2="150" y2="30"></line>
			<line x1="0" y1="50" x2="150" y2="50"></line>
			<g class="execution start" transform="translate(0, 15)">
				<circle class="start"></circle>
			</g>
			<g class="execution finish" transform="translate(150, 15)">
				<circle class="finish outer"></circle>
				<circle class="finish inner"></circle>
			</g>
			<g class="execution exceptions" transform="translate(150, 40)">
				<g class="exception" transform="translate(0, 0)">
					<circle></circle>
					<text x="-10">NullPointerException</text>
				</g>
			</g>
			<g class="data outputs" transform="translate(150, 60)">
				<g class="output parameter" transform="translate(0, 0)">
					<circle style="fill: rgb(173, 31, 150);"></circle>
					<text x="-10">bootstrap</text>
				</g>
			</g>
			<g class="data inputs" transform="translate(0, 75)">
				<g class="input parameter" transform="translate(0, 0)">
					<circle style="fill: rgb(31, 173, 142);"></circle>
					<text x="10">eventLoop</text>
				</g>
				<g class="input parameter" transform="translate(0, 15)">
					<circle style="fill: rgb(173, 97, 31);"></circle>
					<text x="10">channel</text>
				</g>
				<g class="input parameter" transform="translate(0, 30)">
					<circle style="fill: rgb(31, 173, 97);"></circle>
					<text x="10">options</text>
				</g>
				<g class="input parameter" transform="translate(0, 45)">
					<circle style="fill: rgb(173, 119, 31);"></circle>
					<text x="10">handler</text>
				</g>
			</g>
		</g>
		<g class="ready state" transform="translate(500,100)">
			<rect width="150" height="70"></rect>
			<text x="75" y="15">Check Not Null</text>
			<line x1="0" y1="30" x2="150" y2="30"></line>
			<line x1="0" y1="35" x2="150" y2="35"></line>
			<g class="execution start" transform="translate(0, 15)">
				<circle class="start"></circle>
			</g>
			<g class="execution finish" transform="translate(150, 15)">
				<circle class="finish outer"></circle>
				<circle class="finish inner"></circle>
			</g>
			<g class="execution exceptions" transform="translate(150, 40)"></g>
			<g class="data outputs" transform="translate(150, 45)">
				<g class="output parameter" transform="translate(0, 0)">
					<circle style="fill: rgb(119, 31, 173);"></circle>
					<text x="-10">result</text>
				</g>
			</g>
			<g class="data inputs" transform="translate(0, 60)">
				<g class="input parameter" transform="translate(0, 0)">
					<circle style="fill: rgb(173, 31, 150);"></circle>
					<text x="10">input</text>
				</g>
			</g>
		</g>
		<g class="ready state" transform="translate(600,300)">
			<rect width="150" height="55"></rect>
			<text x="75" y="15">false</text>
			<line x1="0" y1="30" x2="150" y2="30"></line>
			<line x1="0" y1="35" x2="150" y2="35"></line>
			<g class="execution start" transform="translate(0, 15)">
				<circle class="start"></circle>
			</g>
			<g class="execution finish" transform="translate(150, 15)">
				<circle class="finish outer"></circle>
				<circle class="finish inner"></circle>
			</g>
			<g class="execution exceptions" transform="translate(150, 40)"></g>
			<g class="data outputs" transform="translate(150, 45)">
				<g class="output parameter" transform="translate(0, 0)">
					<circle style="fill: rgb(119, 31, 173);"></circle>
					<text x="-10">result</text>
				</g>
			</g>
			<g class="data inputs" transform="translate(0, 60)"></g>
		</g>
		<g class="ready state" transform="translate(700,200)">
			<rect width="150" height="85"></rect>
			<text x="75" y="15">And</text>
			<line x1="0" y1="30" x2="150" y2="30"></line>
			<line x1="0" y1="35" x2="150" y2="35"></line>
			<g class="execution start" transform="translate(0, 15)">
				<circle class="start"></circle>
			</g>
			<g class="execution finish" transform="translate(150, 15)">
				<circle class="finish outer"></circle>
				<circle class="finish inner"></circle>
			</g>
			<g class="execution exceptions" transform="translate(150, 40)"></g>
			<g class="data outputs" transform="translate(150, 45)">
				<g class="output parameter" transform="translate(0, 0)">
					<circle style="fill: rgb(119, 31, 173);"></circle>
					<text x="-10">result</text>
				</g>
			</g>
			<g class="data inputs" transform="translate(0, 60)">
				<g class="input parameter" transform="translate(0, 0)">
					<circle style="fill: rgb(119, 31, 173);"></circle>
					<text x="10">first</text>
				</g>
				<g class="input parameter" transform="translate(0, 15)">
					<circle style="fill: rgb(119, 31, 173);"></circle>
					<text x="10">second</text>
				</g>
			</g>
		</g>
	</g>
</svg>