<div class="ui top attached clearing basic segment">
	<h1 class="ui left floated header">
		<div class="content">
			<div class="sub header">
				<div class="ui breadcrumb">
					<a ui-sref="root.home" class="section">Home</a>
					<div class="divider"> / </div>
					<a ui-sref="root.osgi" class="section">OSGI</a>
					<div class="divider"> / </div>
				</div>
			</div>
			<div>Statistic</div>
		</div>
	</h1>
	<div class="ui right floated secondary small borderless menu"></div>
</div>

<div class="ui attached basic segment">
	<div ui-view></div>
</div>