<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ru.agentlab.maia.target" sequenceNumber="45">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.8.1.v201503230617"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.slf4j.impl.log4j12.source" version="1.7.2.v20131105-2200"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.junit.source" version="4.11.0.v201303080030"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
</locations>
<includeBundles>
<plugin id="com.google.guava"/>
<plugin id="com.google.guava.source"/>
<plugin id="javax.annotation"/>
<plugin id="javax.annotation.source"/>
<plugin id="javax.inject"/>
<plugin id="javax.inject.source"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.log4j"/>
<plugin id="org.apache.log4j.source"/>
<plugin id="org.eclipse.e4.core.contexts"/>
<plugin id="org.eclipse.e4.core.contexts.source"/>
<plugin id="org.eclipse.e4.core.di"/>
<plugin id="org.eclipse.e4.core.di.source"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.xtend.lib"/>
<plugin id="org.eclipse.xtend.lib.macro"/>
<plugin id="org.eclipse.xtend.lib.macro.source"/>
<plugin id="org.eclipse.xtend.lib.source"/>
<plugin id="org.eclipse.xtext.xbase.lib"/>
<plugin id="org.eclipse.xtext.xbase.lib.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="org.junit"/>
<plugin id="org.junit.source"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.slf4j.api.source"/>
<plugin id="org.slf4j.impl.log4j12"/>
<plugin id="org.slf4j.impl.log4j12.source"/>
</includeBundles>
</target>
